<div class="w-full mt-5 bg-white py-4 px-4">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div>
    <div class="text-lg leading-6 font-medium text-gray-900">
        Questions <%= Subject.find(params[:id]).name %>
        <span id="timer" class="float-right mr-14"></span>
    </div>
  </div>
  <% if @questions.present? %>
      <div class="pt-6 sm:pt-5">
        <div role="group" aria-labelledby="label-notifications">
          <div class="w-full">
            <div id="questions" class="min-w-full">
              <%= form_tag do%>
                <%= render @questions %>            
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= stylesheet_pack_tag "application" %>
    <div class="text-center my-4">
      <%= will_paginate @questions %>
    </div>

  <% end %>

</div>

<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2024 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("timer").innerHTML = hours + "h "
  + minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
