  <html class="h-full">
  <head>
    <title>GoogleOauthDevise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body class="bg-color-100">
<div class="relative min-h-full flex flex-col mt-0">
  <%= render 'layouts/nav_bar'%>
  <%= yield %>
    
</div>

  </body>

  <script>
  $(document).ready(function(){
    $(".profile_menu").toggle();

    $(".profile_icon").click(function(){
      $(".profile_menu").toggle();
    });
  });

  </script>
</html>